@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin: 0;
  padding: 0;
}

.container-line-input {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
}

.container-input {
  display: inline-flex;
  margin-left: 46px;
  padding-left: 20px;
  border-radius: 20px;
  height: 40px;
  background-color: rgba(237, 237, 237, 255);
}

.container-input:hover {
  background-color: rgba(214, 214, 214, 255);
}

.search-btn {
  outline: none;
  box-sizing: border-box;
  border: none;
  display: inline-block;
  border-radius: 200rem;
  margin: 5px 5px 0px -15px;
  background: transparent;
  width: 30px;
  height: 30px;
}

.search-btn:hover {
  background-color: rgba(237, 237, 237, 255);
  cursor: pointer;
}

.clear-search-btn {
  margin-left: 20px;
  outline: none;
  padding-inline: 15px;
  border-radius: 15px;
  border: none;
  background-color: rgba(237, 237, 237, 255);
}

.clear-search-btn:hover {
  cursor: pointer;
  background-color: rgba(207, 207, 207, 255);
  transition: 0.2s;
}

.input-text {
  border: none;
  background: transparent;
  outline: none;
  margin-right: 15px;
  width: 250px;
}

.container-nav {
  background: rgba(240, 240, 240, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4em;
  height: 60px;
}

.amount-books {
  letter-spacing: 2.5px;
  font-size: 24px;
}

.plus-btn {
  outline: none;
  box-sizing: border-box;
  border: none;
  display: inline-block;
  border-radius: 200rem;
  height: 35px;
  cursor: pointer;
}

.plus-btn:hover {
  background-color: rgba(80, 80, 80, 255);
  color: white;
  transition: 0.3s;
}

.control-page-align {
  display: flex;
  justify-content: center;
}

.btn-control {
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin: 20px;
  padding: 4px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.btn-control:disabled {
  pointer-events: none;
}

.btn-control:hover {
  background-color: rgba(237, 237, 237, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 6px;
  transform: translateY(-2px);
}

.books-containers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}

.no-books-container {
  display: flex;
  padding: 50px;
  font-weight: 700;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}

.container-book {
  display: inline-block;
  width: 300px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 10px;
  margin: 10px;
  transition: 1s;
  border-radius: 20px;
  box-sizing: border-box;
}

.container-book:hover {
  background-color: rgba(0, 172, 193, 0.1);
  translate: translateY(-20px);
  transition: 0.3s;
  cursor: pointer;
}

.book-title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

.subtitle-book {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 16px;
}

/* popup styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_inner {
  position: relative;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.close-popup {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h2 {
  display: flex;
  font-size: 24px;
  margin-bottom: 30px;
}

.floating-label-input {
  position: relative;
  margin-bottom: 30px;
}

.floating-label-input input {
  width: 100%;
  border: none;
  padding: 5px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  transition: 0.3s;
}

.floating-label-input textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  transition: 0.3s;
}

.floating-label-input input:focus {
  outline: none;
  border-bottom: 1px solid #000;
  transition: 0.3s;
}

.floating-label-input label {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.2s ease-in-out;
}

.floating-label-input input:focus + label,
.floating-label-input .has-value {
  transform: translateY(-20px);
  font-size: 0.8em;
}

/*add book styles*/
.add-button {
  display: flex;
  justify-content: flex-end;
}

.add-button button {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
  padding: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.add-button button:hover {
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 6px;
  transform: translateY(-2px);
}
