@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: white;
}

.icon {
  filter: invert(100%);
  border-radius: 200rem;
  border: 2px solid black;
  padding: 5px;
  margin-right: 15px;
}

.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0 20px 50px;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

.container-input {
  display: inline-flex;
  margin: 40px 0px 20px 50px;
  padding-left: 20px;
  border-radius: 20px;
  height: 40px;
  background-color: rgba(237, 237, 237, 255);
}

.container-input:hover {
  background-color: rgba(214, 214, 214, 255);
}

.search-btn {
  outline: none;
  box-sizing: border-box;
  border: none;
  display: inline-block;
  border-radius: 200rem;
  margin: 5px 5px 0px -15px;
  background: transparent;
  width: 30px;
  height: 30px;
}

.search-btn:hover {
  background-color: rgba(237, 237, 237, 255);
}

.input-text {
  border: none;
  background: transparent;
  outline: none;
  margin-right: 15px;
  width: 250px;
}

.container-nav {
  background: rgba(240, 240, 240, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4em;
  height: 60px;
}

.amount-books {
  letter-spacing: 2.5px;
  font-size: 24px;
}

.plus-btn {
  outline: none;
  box-sizing: border-box;
  border: none;
  display: inline-block;
  border-radius: 200rem;
  height: 35px;
  cursor: pointer;
}

.plus-btn:hover {
  background-color: rgba(80, 80, 80, 255);
  color: white;
  transition: 0.3s;
}

.control-page-align {
  display: flex;
  justify-content: center;
}

.btn-control {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin: 20px;
  padding: 4px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  will-change: transform;
}

.btn-control:disabled {
  pointer-events: none;
}

.btn-control:hover {
  background-color: rgba(237, 237, 237, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 6px;
  transform: translateY(-2px);
}

.books-containers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  max-width: 1440px; 
  margin: 0 auto; 
}

.container-book {
  display: inline-block;
  width: 300px; 
  padding: 15px;
  margin: 10px;
  background-color: rgba(237, 237, 237, 1);
  border-radius: 20px;
  box-sizing: border-box; 
}


.container-book:hover {
  background-color: rgba(214, 214, 214, 255);
  transition: 0.3s;
}

/* waves animation*/
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
